.location {
  padding: 4% 10%;
  background-color: var(--secondary);

  .maps {
    display: flex;
    // justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 3px dashed var(--p-color);
  }
}

input::placeholder {
  color: red;
}
